* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
}


.webgl {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.5s;
    will-change: transform;
}

.loading-bar.ended {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}


